---
---

$font-stack: "Raleway","Verdana",Helvetica,"Roboto",Arial,sans-serif;
$font-color: #0a0a0a;

*, *:before, *:after {
    box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;

  body {
    height: 100%;
    padding-top: 40px;
    font-family: $font-stack;
    font-weight: normal;
    line-height: 1.5;
    color: $font-color;
    background: #fefefe;
    -webkit-font-smoothing: antialiased;

    main {
      @media screen and (min-width: 64em) {
          width: 50%;
          margin-left: 25%;

      }

      @media screen and (min-width: 40em) {
          padding-left: 0.9375rem;
          padding-right: 0.9375rem;
      }

      h1 {
        margin: .67em 0;
        line-height: 1.4;
        font-weight: normal;
        font-size: 3rem;
      }

      p {
        margin: 0;
        padding: 0;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 1rem;
        text-rendering: optimizeLegibility;

        a:hover {
          color: $font-color;
        }

        a {
          color: #8bad93;
          text-decoration: none;
          line-height: inherit;
          cursor: pointer;
        }
      }

      .social {
        margin-left: -0.5rem;
        list-style: none;
        padding: 1rem 0;
        overflow: hidden;

        li {
          float: left;
          margin-right: 1.5rem;

          .fa {
            font-size: 32px;
            color: #404040;
            padding: 1rem;
          }
        }
      }
    }
  }
}
