.column, .columns {
  width: 100%;
  float: left;
  padding-left: 0.625rem;
  padding-right: 0.625rem; }

@media screen and (min-width: 40em) {
  .column, .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; } }
.small-12 {
  width: 100%; }

@media screen and (min-width: 40em) {
  .medium-8 {
    width: 66.66667%; }

  .medium-offset-2 {
    margin-left: 16.66667%; } }
@media screen and (min-width: 64em) {
  .large-8 {
    width: 66.66667%; }

  .large-offset-2 {
    margin-left: 16.66667%; }

  .large-6 {
    width: 50%; }

  .large-offset-3 {
    margin-left: 25%; } }
article.post .post-date {
  font-size: 1.4rem; }
article.post .post-title {
  margin: 0; }
article.post code {
  font-size: 1rem; }

.right {
  float: right; }

.left {
  float: leftl; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  height: 100%; }

h1, h2, h3, h4 {
  margin: .67em 0;
  line-height: 1.4;
  font-weight: normal;
  font-size: 3rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 1.9375rem; }

h4 {
  font-size: 1.3rem; }

a:hover {
  color: #0a0a0a; }

a {
  color: #8bad00;
  text-decoration: none;
  line-height: inherit;
  cursor: pointer;
  background-color: transparent; }

body {
  margin: 0;
  padding: 0;
  padding-top: 3rem;
  font-family: "Raleway", Verdana, "Roboto", Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
  background: #fefefe;
  -webkit-font-smoothing: antialiased; }
  body nav li {
    display: inline-block; }
  body main#home ul {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    margin-bottom: 1rem;
    margin-left: 1.25rem;
    list-style-position: outside; }
  body main#home p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 1rem;
    text-rendering: optimizeLegibility; }
  body main#home .social {
    margin-left: -0.5rem;
    list-style: none;
    padding: 1rem 0;
    overflow: hidden; }
    body main#home .social li {
      float: left;
      margin-right: 1.5rem; }
      body main#home .social li .fa {
        font-size: 32px;
        color: #404040;
        padding: 1rem; }
