<!DOCTYPE html>
<html>

<head>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,800|Raleway:400,200,700" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.title }} - {{ site.name }}">
    <meta name="keywords" content="{{ page.keywords }}, {{ site.keywords }}">
    <title>{{ page.title }} - {{ site.title }}</title>
</head>

<body>
